/* !<Info>============================================================================================ */
/*  Find and download fonts */
/*  To convert fonts go to: https://transfonter.org/ */
/*  Then import the fonts style css in the main.scss file. */
/*  font-weight:100-thin,200-UltraLite,300-light,400-normal-regular,500-medium,600-semibold,700-bold,800-Heavy,900-black */
/*  Try to use it: */
/*  line-height: calc( line-height / font-size * 100% ); */
/*  https://picsum.photos/200/200/ for images */
/* !</Info>============================================================================================ */

/* !<Helper-Styles>==================================================================================== */
.scale-enter-active,
.scale-leave-active {
  transition: all 0.4s ease-in-out;
}
.scale-enter,
.scale-leave-to {
  opacity: 0;
  transform: scale(0.95);
  transition: all 0.4s ease-in-out;
}
svg,
svg * {
  transition: all 0.35s ease-in-out;
}
.transition {
  transition: all 0.35s ease-in-out;
}
.center {
  @apply flex items-center justify-center;
}
/* !<Helper-Styles>==================================================================================== */

/* !<Settings-Styles>================================================================================== */
:root {
  --font-family: 'Roboto';
  font-size: calc(0.65px + (1 - 0.65) * ((100vw - 320px) / (1440 - 320)));
  @media (min-width: 1440px) {
    font-size: 1px;
  }
}
html {
  width: 100%;
  height: 100%;
  font-family: var(--font-family), sans-serif;
  font-style: normal;
  overflow-y: scroll;
  overflow-x: hidden;
  &._lock {
    overflow: hidden !important;
    padding-right: 5px;
    @media (max-width: 1024px) {
      padding-right: 0;
    }
  }
  * {
    font-family: var(--font-family), sans-serif;
    margin: initial;
    padding: initial;
    outline: none !important;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  & body {
    font-size: 16px;
    width: 100%;
    height: 100%;
    input,
    textarea {
      @media (max-width: 600px) {
        font-size: 16px !important;
      }
    }
  }
  #app {
    width: 100%;
    min-height: 100%;
    display: inline-flex;
    align-items: baseline;
  }
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: #fff;
  }
  ::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 5px;
  }
  ::selection {
    background: rgba(37, 100, 255, 0.15);
  }
  /*  hide arrows in input type number */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &[type='number'] {
    -moz-appearance: textfield;
  }
}
/* !<Settings-Styles>================================================================================== */
